body{
    background-color: blueviolet;
}
#clima{
    font-family: cursive;
    font-size: xx-large;
    margin-bottom:  50px;
}
#cid,
#end{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: xx-large;
    
}

#end{
margin-bottom:  50px;
}
